<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog Website</title>
  <link rel="icon" href="../../public/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../public/img/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../../public/img/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="apple-touch-icon" href="../../public/img/apple-touch-icon.png">
</head>
<body>
  <div class="container">
    <h1 class="mb-4 mt-4">New Post</h1>

    <form action="/articles" method="POST">
      <%- include('form') %>
    </form>
  </div>
</body>
</html>